<% include _header %>

    <title> حسابي </title>
  <style>
  .card-profil {
    padding: 10px;
    margin-left: auto;
    margin-right:auto;
    width: 50%;
  }
    @media only screen and (max-width:750px) {
      .card-profil {
        width: 100%;
      }
    }
  </style>
</head>
<body class="skin-blue"   style=" font-family: 'Cairo', sans-serif;" >
  <div class="wrapper">
    
    <header class="main-header">
      <!-- Logo -->
      <a href="#" class="logo"><b style=" font-family: 'Cairo', sans-serif;">لوحة التحكم </b></a>
      <!-- Header Navbar: style can be found in header.less -->
      <nav class="navbar navbar-static-top" role="navigation">
        <!-- Sidebar toggle button-->
        <a href="#" class="sidebar-toggle" data-toggle="offcanvas" role="button">
          <span class="sr-only">Toggle navigation</span>
        </a>
        <div class="navbar-custom-menu">
          <ul class="nav navbar-nav">
          
            <!-- Tasks: style can be found in dropdown.less -->
            
            <!-- User Account: style can be found in dropdown.less -->
            <li class="dropdown user user-menu">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                
                <img src="/images/user.svg" class="user-image"  alt="User Image" />
                <span class="hidden-xs"> <% if (currentUser) { %> <%= currentUser.Fullname  %>   
                  <% }  %> </span>
              </a>
              <ul class="dropdown-menu">
                <!-- User image -->
                <li class="user-header">
                  <img src="/images/user.svg" class="img-circle" alt="User Image" />
                  <p>
                      <% if (currentUser) { %> <%= currentUser.Fullname  %>   
                      <% }  %> 
                     
                  </p>
                </li>
                <!-- Menu Body -->
               
                <!-- Menu Footer-->
                <li class="user-footer">
                    <div class="pull-left">
                        <a href="/admin-panel/My-Compte" class="btn btn-default btn-flat">الحساب</a>
                      </div>
                      <div class="pull-right">
                        <a href="/logout" class="btn btn-default btn-flat">تسجسل الخروج</a>
                      </div>
                </li>
              </ul>
            </li>
          </ul>
        </div>
      </nav>
    </header>
    <!-- Left side column. contains the logo and sidebar -->
    <aside class="main-sidebar">
      <!-- sidebar: style can be found in sidebar.less -->
      <section class="sidebar" >
        <!-- Sidebar user panel -->
        <div class="user-panel">
          <div class="pull-left image">
            <img src="/images/user.svg" class="img-circle" alt="User Image" />
          </div>
          <div class="pull-left info">
            <p><% if (currentUser) { %> <%= currentUser.Fullname  %>   
              <% }  %> </p>

            <a href="#"><i class="fa fa-circle text-success"></i> موجود</a>
          </div>
        </div>
      
        <!-- sidebar menu: : style can be found in sidebar.less -->
        <ul class="sidebar-menu">
          <li class="header">الاعدادات  الرئيسية </li>
          <li class=" treeview">
            <a href="/admin-panel">
              <i class="fa fa-dashboard"></i> <span>لوحة التحكم</span>  
            </a>
            
          </li>
          <li class="active treeview">
                  <a href="/admin-panel/My-Compte">
                    <i class="fas fa-user-alt"></i>&nbsp;
                    <span>حسابي</span>
                  
                  </a>
                  
            </li>

            <li class="treeview">
              <a href="#">
                <i class="fa fa-files-o"></i>
                <span>قائمة المسجلين</span><i class="fa fa-angle-left pull-right"></i>
              
              </a>
              
                <ul class="active treeview-menu">
                  <li> <a href="/admin-panel/List-Users"  ><i class="fa fa-circle-o"></i>قائمة اصحاب المحلات</a></li>
                  <li><a href="/admin-panel/List-Admins"><i class="fa fa-circle-o"></i>قائمة الاداريين</a></li>
                </ul>
              
          
        </li>
          <li class="treeview">
              <a href="/admin-panel/map">
                  <i class="fas fa-map-marked"></i>&nbsp;
                <span>الخريطة</span>
              
              </a>
              
            </li>
        
        </ul>
      </section>
    </aside>

    <!-- Right side column. Contains the navbar and content of the page -->
    <div class="content-wrapper" >
      <!-- Content Header (Page header) -->
      <section class="content-header"  style=" font-family: 'Cairo', sans-serif;"> 
        <h1  style=" font-family: 'Cairo', sans-serif; text-align: center;">
            حسابي         
        </h1>
   
      </section>
      <div id="content-vue">
          <section class="content">
         
              <div class="row">
                <div class="col-md-12">
                  <div class="box">
                    <div class="box-header with-border">
                      <h3 class="box-title"></h3>
                      <div class="box-tools pull-right">
                        <button class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
                      
                        <button class="btn btn-box-tool" data-widget="remove"><i class="fa fa-times"></i></button>
                      </div>
                    </div><!-- /.box-header -->
                    <div class="box-body" style="display: block;">
                      <div class="row">
                        
                          <div class="col-sm-12 col-md-12" >
                            <div class="thumbnail" dir="ltr" >
                                <img  class="card-img-top" src="/images/user.svg"  width="200px" alt="profil picter" />
                              <div class="caption" style="text-align: right;" >
                                  <h3 style="text-align: center;" style=" font-family: 'Cairo', sans-serif;" >
                                      <% if (currentUser) { %> <%= currentUser.Fullname  %>   
                                      <% }  %>
                                  </h3>
                                 <div v-if="ShowProfile"> 
                                <div class="card-profil"  > 
                                    <div class="thumbnail">  
                                   
                                      
                                    <div class="thumbnail">
                                   <h5 dir="rtl" style=" font-family: 'Cairo', sans-serif;"> البريد الالكترووني:
                                      <%= currentUser.email %></h5>
                                </div>
                                <button type="button" class="btn btn-warning btn-lg"   @click="change"  >تعديل الحساب</button>
                              </div> 
                            </div>
                              </div>
                              <div v-else> 
                                  <div class="card-profil"  > 
                              <form method="post" action="/compte-update">
                                <div  style="  direction: rtl;">
                                   
                                        <div class="form-group">
                                          <label for="exampleInputEmail1">الاسم واللقب</label>
                                          <input type="text" name="Fullname" class="form-control" id="Fullname"  value="<%= currentUser.Fullname %>" aria-describedby="Fullname"
                                            placeholder="الاسم و القب ">
                                        </div>
                              
                                        
                              
                              
                                        <div class="form-group">
                                          <label for="exampleInputEmail1">البريد الإلكتروني</label>
                                          <input type="email" name="Email" class="form-control" id="Email" aria-describedby="Email"
                                            placeholder="البريد الإلكتروني">
                                          <small id="emailHelp" class="form-text text-muted">لن نشارك بريدك الإلكتروني مع أي شخص آخر.</small>
                                        </div>
                              
                              
                                  
                              
                                         
                                        <!-- Modal -->
                                        <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                          <div class="modal-dialog" role="document">
                                            <div class="modal-content">
                                              <div class="modal-header">
                                               
                                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                  <span aria-hidden="true">&times;</span>
                                                </button>
                                              </div>
                                              <div class="modal-body">
                                                <div class="form-group">
                                                  <label for="exampleInputPassword1">   كلمة المرور  </label>
                                                  <input type="password" name="Password" class="form-control" id="password" placeholder="كلمة المرور">
                                                  <small id="emailHelp" class="form-text text-muted">  الرجاء ادخال كلمة المرور لاتمام العملية</small>
                                                
                                                </div> 
                                              </div>
                                              <div class="modal-footer">
                                                <button type="button" class="btn btn-secondary" data-dismiss="modal">الغاء </button>
                                                <button  type="submit" class="btn btn-primary">اكمال العملية</button>
                                              </div>
                                            </div>
                                          </div>
                                        </div>
            
            
            
            
            
                                     
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-primary form-check-label " data-toggle="modal" data-target="#exampleModal">
                                        حديث الحساب
                                      </button>
                                  
                                  <button type="button" class="btn btn-default"  @click="change" >الغاء</button>
                                </div>
                              </form>
                            </div>
                          </div>
                              </div>
                            </div>
                        
                        </div><!-- /.col -->
                        
                      </div><!-- /.row -->
                    </div><!-- ./box-body -->
               
                  </div><!-- /.box -->
                </div><!-- /.col -->
              </div>
              
          </section>
        </div>
      <!-- Main content -->
    
    </div><!-- /.content-wrapper -->
    <footer class="main-footer">
      <div   style="text-align: center">
          <strong>Copyright &copy; 2019 <a href="http://almsaeedstudio.com">HOCINE ISMAIL</a>.</strong> All rights reserved.
      </div>
     
    </footer>
  </div><!-- ./wrapper -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.5.22/vue.js"></script>
  <script src="/vue/vue.js"></script>
 
  <!-- jQuery 2.1.3 -->
  <% include _footer %>