<% include _header %>
    <title>قائمة المسجلين </title>
    <style>
table {
  border-collapse: collapse;
  border-spacing: 0;
  width: 100%;
  border: 1px solid #ddd;
}
th {
  text-align: right;
  padding: 8px;
  font-size: 12px
}
 td {
 text-align: right;
  padding: 8px;
}

tr:nth-child(even){background-color: #f2f2f2}

 
</style>
</head>
<body class="skin-blue"   style=" font-family: 'Cairo', sans-serif;">
  <div class="wrapper">
    
    <header class="main-header">
      <!-- Logo -->
      <a href="#" class="logo"><b style=" font-family: 'Cairo', sans-serif;">لوحة التحكم </b></a>
      <!-- Header Navbar: style can be found in header.less -->
      <nav class="navbar navbar-static-top" role="navigation">
        <!-- Sidebar toggle button-->
        <a href="#" class="sidebar-toggle" data-toggle="offcanvas" role="button">
          <span class="sr-only">Toggle navigation</span>
        </a>
        <div class="navbar-custom-menu">
          <ul class="nav navbar-nav">
          
            <!-- Tasks: style can be found in dropdown.less -->
            
            <!-- User Account: style can be found in dropdown.less -->
            <li class="dropdown user user-menu">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                
                <img src="/images/user.svg" class="user-image"  alt="User Image" />
                <span class="hidden-xs">   <% if (currentUser) { %> <%= currentUser.Fullname   %>   
                  <% }  %> </span>
              </a>
              <ul class="dropdown-menu">
                <!-- User image -->
                <li class="user-header">
                  <img src="/images/user.svg" class="img-circle" alt="User Image" />
                  <p>
                    <% if (currentUser) { %> <%= currentUser.Fullname   %>   
                  <% }  %> 
                     
                  </p>
                </li>
                <!-- Menu Body -->
               
                <!-- Menu Footer-->
                <li class="user-footer">
                    <div class="pull-left">
                        <a href="/admin-panel/My-Compte" class="btn btn-default btn-flat">الحساب</a>
                      </div>
                      <div class="pull-right">
                        <a href="/logout" class="btn btn-default btn-flat">تسجسل الخروج</a>
                      </div>
                </li>
              </ul>
            </li>
          </ul>
        </div>
      </nav>
    </header>
    <!-- Left side column. contains the logo and sidebar -->
    <aside class="main-sidebar">
      <!-- sidebar: style can be found in sidebar.less -->
      <section class="sidebar" >
        <!-- Sidebar user panel -->
        <div class="user-panel">
          <div class="pull-left image">
            <img src="/images/user.svg" class="img-circle" alt="User Image" />
          </div>
          <div class="pull-left info">
            <p><% if (currentUser) { %> <%= currentUser.Fullname   %>   
                  <% }  %> </p>

            <a href="#"><i class="fa fa-circle text-success"></i> موجود</a>
          </div>
        </div>
      
        <!-- sidebar menu: : style can be found in sidebar.less -->
        <ul class="sidebar-menu">
          <li class="header">الاعدادات  الرئيسية </li>
          <li class=" treeview">
            <a href="/admin-panel">
              <i class="fa fa-dashboard"></i> <span>لوحة التحكم</span>  
            </a>
            
          </li>
          <li class=" treeview">
                  <a href="/admin-panel/My-Compte">
                    <i class="fas fa-user-alt"></i>&nbsp;
                    <span>حسابي</span>
                  
                  </a>
                  
            </li>

            <li class=" active treeview">
              <a href="#">
                <i class="fa fa-files-o"></i>
                <span>قائمة المسجلين</span><i class="fa fa-angle-left pull-right"></i>
              
              </a>
              
                <ul class="active treeview-menu">
                  <li> <a href="/admin-panel/List-Users"  ><i class="fa fa-circle-o"></i>قائمة اصحاب المحلات</a></li>
                  <li><a href="/admin-panel/List-Admins"><i class="fa fa-circle-o"></i>قائمة الاداريين</a></li>
                </ul>
              
          
        </li>
          <li class="treeview">
              <a href="/admin-panel/map">
                  <i class="fas fa-map-marked"></i>&nbsp;
                <span>الخريطة</span>
              
              </a>
              
            </li>
        
        </ul>
      </section>
      <!-- MAPS 000000000000000000000000000000000000000000000000000000000000000000000000000000000000000-->
      <!-- /.sidebar -->
    </aside>

    <!-- Right side column. Contains the navbar and content of the page -->
    <div class="content-wrapper" >
      <!-- Content Header (Page header) -->
      <section class="content-header"  style=" font-family: 'Cairo', sans-serif;"> 
        <h1  style=" font-family: 'Cairo', sans-serif; text-align: center;padding-top: 3%; padding-bottom: 3%">
            قائمة المسجلين           
        </h1>
    
      </section>
      <section class="content">
         
        <div class="row">
          <div class="col-md-12">
            <div class="box">
              <div class="box-header with-border">
                <h3 class="box-title"></h3>
                <div class="box-tools pull-right">
                  <button class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
                
                  <button class="btn btn-box-tool" data-widget="remove"><i class="fa fa-times"></i></button>
                </div>
              </div><!-- /.box-header -->
              <div class="box-body" style="display: block;">
                <div class="row">
                  <div class="width-max">
                   
                    <div class="col-md-12"> 
                      <% errors.forEach(function(error) { %>
                        <div class="alert" style="background-color: #F8D7DA; color:#822427;text-align: right" role="alert" >
                        <%= error %>
                        </div>
                        <% }) %>
                        <% infos.forEach(function(info) { %>
                        <div class="alert" style="background-color: #FEFEFE; color: #145563;text-align: right" role="alert" >
                        <%= info %>
                        </div>
                        <% }) %>
                        <% success.forEach(function(success) { %>
                          <div  class="alert  " style="background-color: #D4EDDA; color:#255725;text-align: right"  role="alert" >
                           <%= success %>
                          </div>
                         <% }) %>
                           <div style="overflow-x:auto; direction: rtl; " >
                               <table   >
                                 <tr>
                                   <th> اسم المدير </th>                                
                                    <th> اسم المحل</th>
                                   <th>البريد الالكترةني</th>
                                   <th>المنطقة</th>
                                   <th>المدينة</th>
                                   <th>الحي</th>
                                   <th>العنوان</th>
                                   <th>نوع المحل</th>
                                   <th>تاريخ انتهاء السجل التجاري</th>
                                   <th>تاريخ انتهاء رخصة البلدية</th>
                                   <th>رقم الهاتف</th>
                                   <th>رابط الصفحة</th>
                                   <th>حذف</th>
                                 
                                 </tr>
                                 <% users.forEach(function(user)  { %>
                                 <tr > 
                                     
                                   <td> <%= user.Fullname %></td>                                
                                    <td> <%= user.user %></td>
                                   <td> <%= user.email %></td>
                                   <td> <%= user.client.zone.Zone %></td>
                                   <td> <%= user.client.country.Country %></td>
                                   <td> <%= user.client.city.City %></td>
                                   <td> <%= user.client.Address %></td>
                                   <td> <%= user.client.TypeOfStore %></td>
                                   <td> <%= user.client.municipallicense %></td>
                                   <td> <%= user.client.commercialregister %></td>
                                   <td> <%= user.client.Phone %></td>
                                   <td><button class="btn btn-default"  type="button" onclick="window.location.href='#'"> <i class="fas fa-link"></i>الرابط</button></td>
                                   <td><button class="btn btn-danger" style="float:right;background-color: #FFFFFF ; color: rgb(255, 59, 59); border-color: #FFFFFF; font-size: 20px" type="button" onclick="window.location.href='/admin-panel/delete/<%= user._id%>'"> <i class="fa fa-trash" aria-hidden="true"></i> </button></td>
                                   
                                 </tr>
                                 <% }) %>
           
                               </table>
                             </div>
                    </div>
                     
                   </div>
                  
                </div><!-- /.row -->
              </div><!-- ./box-body -->
         
            </div><!-- /.box -->
          </div><!-- /.col -->
        </div>
        
    </section>
      <!-- Main content -->
     
    </div><!-- /.content-wrapper -->
    <footer class="main-footer">
      <div   style="text-align: center">
          <strong>Copyright &copy; 2019 <a href="http://almsaeedstudio.com">HOCINE ISMAIL</a>.</strong> All rights reserved.
      </div>
     
    </footer>
  </div><!-- ./wrapper -->

  <!-- jQuery 2.1.3 -->
  <% include _footer %>