<% include _header %>
    <title> حسابي </title>
 
      <style>


.file-upload{display:block;text-align:center;font-family: Helvetica, Arial, sans-serif;font-size: 12px;}
.file-upload .file-select{display:block;border: 2px solid #dce4ec;color: #34495e;cursor:pointer;height:40px;line-height:40px;text-align:right;background:#FFFFFF;overflow:hidden;position:relative;}
.file-upload .file-select .file-select-button{background:#dce4ec;padding:0 10px;display:inline-block;height:40px;line-height:40px;}
.file-upload .file-select .file-select-name{line-height:40px;display:inline-block;padding:0 10px;}
.file-upload .file-select:hover{border-color:#34495e;transition:all .2s ease-in-out;-moz-transition:all .2s ease-in-out;-webkit-transition:all .2s ease-in-out;-o-transition:all .2s ease-in-out;}
.file-upload .file-select:hover .file-select-button{background:#34495e;color:#FFFFFF;transition:all .2s ease-in-out;-moz-transition:all .2s ease-in-out;-webkit-transition:all .2s ease-in-out;-o-transition:all .2s ease-in-out;}
.file-upload.active .file-select{border-color:#3fa46a;transition:all .2s ease-in-out;-moz-transition:all .2s ease-in-out;-webkit-transition:all .2s ease-in-out;-o-transition:all .2s ease-in-out;}
.file-upload.active .file-select .file-select-button{background:#3fa46a;color:#FFFFFF;transition:all .2s ease-in-out;-moz-transition:all .2s ease-in-out;-webkit-transition:all .2s ease-in-out;-o-transition:all .2s ease-in-out;}
.file-upload .file-select input[type=file]{z-index:100;cursor:pointer;position:absolute;height:100%;width:100%;top:0;right:0;opacity:0;filter:alpha(opacity=0);}
.file-upload .file-select.file-select-disabled{opacity:0.65;}
.file-upload .file-select.file-select-disabled:hover{cursor:default;display:block;border: 2px solid #dce4ec;color: #34495e;cursor:pointer;height:40px;line-height:40px;margin-top:5px;text-align:right;background:#FFFFFF;overflow:hidden;position:relative;}
.file-upload .file-select.file-select-disabled:hover .file-select-button{background:#dce4ec;color:#666666;padding:0 10px;display:inline-block;height:40px;line-height:40px;}
.file-upload .file-select.file-select-disabled:hover .file-select-name{line-height:40px;display:inline-block;padding:0 10px;}




  .card-profil {
    padding: 10px;
    
  }
    @media only screen and (max-width:750px) {
      .card-profil {
      
        width: 100%;
      }
    }

    .mymaps {
  height: 750px;
  
}

@media only screen and (max-width: 1000px) {
  .mymaps {
    height: 500px;
  }
}
  .controls {
    margin-top: 16px;
    border: 1px solid transparent;
    border-radius: 2px 0 0 2px;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    height: 32px;
    outline: none;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
  }

  #description {
    font-family: Roboto;
    font-size: 15px;
    font-weight: 300;
  }

  #infowindow-content .title {
    font-weight: bold;
  }

  #infowindow-content {
    display: none;
  }

  #map #infowindow-content {
    display: inline;
  }

  .pac-card {
    background-color: #fff;
    font-family: Roboto;
    font-size: 15px;
    font-weight: 300;
    margin-left: 12px;
    padding: 0 11px 0 13px;
    text-overflow: ellipsis;
    width: 400px;
  }

  #pac-container {
    padding-bottom: 12px;
    margin-right: 12px;
  }

  .pac-controls {
    display: inline-block;
    padding: 5px 11px;
  }

  .pac-controls label {
    font-family: Roboto;
    font-size: 13px;
    font-weight: 300;
  }

  #pac-input {
    background-color: #fff;
    font-family: Roboto;
    font-size: 15px;
    font-weight: 300;
    margin-left: 12px;
    padding: 0 11px 0 13px;
    text-overflow: ellipsis;
    width: 400px;
  }

  #pac-input:focus {
    border-color: #4d90fe;
  }

  #title {
    color: #fff;
    background-color: #4d90fe;
    font-size: 25px;
    font-weight: 500;
    padding: 6px 12px;
  }

  #target {
    width: 345px;
  }
  #close {
 display: none
  }

  #updateposition {
    display: none
  }
 .tit {
  font-family: 'Cairo', sans-serif;
 }
 .inputfile {
	width: 0.1px;
	height: 0.1px;
	opacity: 0;
	overflow: hidden;
	position: absolute;
	z-index: -1;
}

.inputfile + label {
    font-size: 1.25em;
    font-weight: 700;
    color: white;
    background-color: black;
    display: inline-block;
}

.inputfile:focus + label,
.inputfile + label:hover {
  cursor: pointer; /* "hand" cursor */
    background-color: red;
}
.js .inputfile {
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
}

.no-js .inputfile + label {
    display: none;
}
  </style>
   <script>(function(e,t,n){var r=e.querySelectorAll("html")[0];r.className=r.className.replace(/(^|s)no-js(s|$)/,"$1js$2")})(document,window,0);</script>
</head>
<body class="skin-blue"   style=" font-family: 'Cairo', sans-serif;">
  
  <div class="wrapper">
    
    <header class="main-header">
      <!-- Logo -->
      <a href="#" class="logo"><b style=" font-family: 'Cairo', sans-serif;">لوحة التحكم </b></a>
      <!-- Header Navbar: style can be found in header.less -->
      <nav class="navbar navbar-static-top" role="navigation">
        <!-- Sidebar toggle button-->
        <a href="#" class="sidebar-toggle" data-toggle="offcanvas" role="button">
          <span class="sr-only">Toggle navigation</span>
        </a>
        <div class="navbar-custom-menu">
          <ul class="nav navbar-nav">
          
            <!-- Tasks: style can be found in dropdown.less -->
            
            <!-- User Account: style can be found in dropdown.less -->
            <li class="dropdown user user-menu">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                
                <img src="/images/user.svg" class="user-image"  alt="User Image" />
                <span class="hidden-xs"> 
                   <% if (currentUser) { %>
                    <%= currentUser.Firstname +" "+currentUser.Lastname  %> 
                  <% }  %> 
                    </span>
              </a>
              <ul class="dropdown-menu">
                <!-- User image -->
                <li class="user-header">
                  <img src="/images/user.svg" class="img-circle" alt="User Image" />
                  <p>
                      <% if (currentUser) { %>
                        <%= currentUser.Firstname +" "+currentUser.Lastname  %> 
                      <% }  %> 
                  </p>
                </li>
                <!-- Menu Body -->
               
                <!-- Menu Footer-->
                <li class="user-footer">
                    <div class="pull-left">
                        <a href="/client/my-Compte" class="btn btn-default btn-flat">الحساب</a>
                      </div>
                      <div class="pull-right">
                        <a href="/logout" class="btn btn-default btn-flat">تسجسل الخروج</a>
                      </div>
                </li>
              </ul>
            </li>
          </ul>
        </div>
      </nav>
    </header>
    <!-- Left side column. contains the logo and sidebar -->
    <aside class="main-sidebar">
      <!-- sidebar: style can be found in sidebar.less -->
      <section class="sidebar" >
        <!-- Sidebar user panel -->
        <div class="user-panel">
          <div class="pull-left image">
            <img src="/images/user.svg" class="img-circle" alt="User Image" />
          </div>
          <div class="pull-left info">
            <p>
                <% if (currentUser) { %>
                  <%= currentUser.Firstname +" "+currentUser.Lastname  %> 
                <% }  %> 
            </p>

            <a href="#"><i class="fa fa-circle text-success"></i> موجود</a>
          </div>
        </div>
      
        <!-- sidebar menu: : style can be found in sidebar.less -->
        <ul class="sidebar-menu">
          <li class="header">الاعدادات  الرئيسية </li>
          <li class=" treeview">
            <a href="/client">
              <i class="fa fa-dashboard"></i> <span>لوحة التحكم</span>  
            </a>
            
          </li>
          <li class="active treeview">
                  <a href="/client/my-compte">
                    <i class="fas fa-user-alt"></i>&nbsp;
                    <span>حسابي</span>
                  
                  </a>
                  
            </li>

            <li class=" treeview">
                  
                <a href="#">  <i class="fas fa-dollar-sign icon-service" ></i>&nbsp;  <span> الاحصائيات المالية</span> <i class="fa fa-angle-left pull-right"></i></a>
                <ul class="active treeview-menu">
                  <li   > <a href="/client/funding"  ><i class="fa fa-circle-o"></i>صفحة الاححصاء</a></li>
                  <li><a href="#"><i class="fa fa-circle-o"></i>ادخال الارباح اليومبة</a></li>
                </ul>
              
          
        </li>
          <li class="treeview">
              <a href="/client/map">
                  <i class="fas fa-map-marked"></i>&nbsp;
                <span>الخريطة</span>
              
              </a>
              
            </li>
        
        </ul>
      </section>
      <!-- MAPS 000000000000000000000000000000000000000000000000000000000000000000000000000000000000000-->
      <!-- /.sidebar -->
    </aside>

    <!-- Right side column. Contains the navbar and content of the page -->
    <div class="content-wrapper" >
      <!-- Content Header (Page header) -->
      <section class="content-header"  style=" font-family: 'Cairo', sans-serif;"> 
        <h1  style=" font-family: 'Cairo', sans-serif; text-align: center">
            حسابي         
        </h1>
        <div   dir="ltr" style="padding-top: 50px" >
          <% errors.forEach(function(error) { %>
            <div class="alert" style="background-color: #F8D7DA; color:#822427;text-align: right" role="alert" >
            <%= error %>
            </div>
            <% }) %>
            <% infos.forEach(function(info) { %>
            <div class="alert" style="background-color: #FEFEFE; color: #145563;text-align: right" role="alert" >
            <%= info %>
            </div>
            <% }) %>
            <% success.forEach(function(success) { %>
              <div  class="alert  " style="background-color: #D4EDDA; color:#255725;text-align: right"  role="alert" >
               <%= success %>
              </div>
             <% }) %>
        </div>
      </section>

      <!-- Main content -->
      <div id="content-vue">
        
          <section class="content">
         
            <div class="row">
           
                <div class="col-md-6">
                    <!-- LINE CHART -->
                   
                    <!-- BAR CHART -->
                    <div class="box box-success">
                      <div class="box-header">
                          <h5   style="text-align: center; font-family: 'Cairo', sans-serif;">معلومات الحساب</h5>
                      </div>

                      <div class="box-body chart-responsive">
                          <div class="thumbnail" dir="ltr" >
                            <h5   style="text-align: center; font-family: 'Cairo', sans-serif;">المعلومات الشحصية</h3>
                                <img  class="card-img-top" src="/images/user.svg"  width="200px" alt="profil picter" />
                              <div class="caption" style="text-align: right;" >
                                  <h3 style="text-align: center; font-family: 'Cairo', sans-serif;" >
                                   
<br>
                                <%=  client.client.Start %> تقييم المحل
                                 <br>
                                 <% var star = 5 - client.client.Star %>
                                 <% for (let j = 0;j < star; j++ ) { %>
                                  <i class="fa fa-star"  style="color: rgb(192, 192, 192)" aria-hidden="true"></i>
                                  <% } %>
                                 <% for (let i = 0;i < client.client.Star; i++ ) { %>
                                  <i class="fa fa-star" style="color: #EEBD01"  aria-hidden="true"></i>
                                  <% } %>
                               
                                  </h3>

                                 <div id="update"> 
                                <div class="card-profil"  > 
                                    <div class="thumbnail">  
                                        <div class="thumbnail">
                                            <h5 dir="rtl" style=" font-family: 'Cairo', sans-serif;">  اسم :
                                                &nbsp;&nbsp;&nbsp;
                                               <%= client.Fullname %></h5>
                                         </div>

                                      <div class="thumbnail">
                                        <h5 dir="rtl" style=" font-family: 'Cairo', sans-serif;">  اسم المحل:
                                            &nbsp;&nbsp;&nbsp;
                                           <%= client.client.username %></h5>
                                     </div>
                                     
                                    
                                    <div class="thumbnail">
                                        <h5 dir="rtl" style=" font-family: 'Cairo', sans-serif;"> البريد الالكترووني:
                                            &nbsp;&nbsp;&nbsp;
                                           <%= client.email %></h5>
                                     </div>
                                   <div class="thumbnail">
                                      <h5 dir="rtl" style=" font-family: 'Cairo', sans-serif;">  نوع المحل:
                                          &nbsp;&nbsp;&nbsp;
                                      <%= client.client.thestore%></h5>
                                   </div>



                                   <div class="thumbnail">
                                      <h5 dir="rtl" style=" font-family: 'Cairo', sans-serif;">   تاريخ انتهاء رخصة البلدية :
  
                                          &nbsp;&nbsp;&nbsp;
                                      <%= client.client.municipallicense%></h5>
                                   </div>


                                   <div class="thumbnail">
                                      <h5 dir="rtl" style=" font-family: 'Cairo', sans-serif;">    تاريخ انتهاء السجل التجاري:
                                          &nbsp;&nbsp;&nbsp;&nbsp;
                                      <%= client.client.commercialregister%></h5>
                                   </div>

                                 <div class="thumbnail">
                                    <h5 dir="rtl" style=" font-family: 'Cairo', sans-serif;">  رقم الجوال:
                                        &nbsp;&nbsp;&nbsp;
                                       <%= client.client.Phone %></h5>
                                 </div>
        
        
                                <button type="button" class="btn btn-warning btn-lg"   onclick="change()"  >تعديل </button>
                              </div> 
                             
                            </div>
                              </div>
                              <div id="close"> 
                                  <div class="card-profil"  > 
                              <form method="post" action="/compte-update">
                                <div  style="  direction: rtl;">
                                   
                                        <div class="form-group">
                                          <label for="exampleInputEmail1">الاسم</label>
                                          <input type="text" name="Fullname" class="form-control" id="Fullname" aria-describedby="Fullname"
                                            placeholder="الاسم " value="<%= client.Fullname %>">
                                        </div>
                              
                                        <div class="form-group">
                                          <label for="exampleInputEmail1">اسم المحل</label>
                                          <input type="text" name="username" class="form-control" id="username" aria-describedby="username  "
                                            placeholder="username"value="<%= client.client.username  %>">
                                        </div>                              
                              
                                        <div class="form-group">
                                          <label for="exampleInputEmail1">البريد الإلكتروني</label>
                                          <input type="email" name="email" class="form-control" id="Email" aria-describedby="Email"
                                            placeholder="البريد الإلكتروني" value="<%= client.email %>">
                                          <small id="emailHelp" class="form-text text-muted">لن نشارك بريدك الإلكتروني مع أي شخص آخر.</small>
                                        </div>
                                        <div class="form-group">
                                            <label>نوع المحل</label>
                                                <select class="form-control" name="store" required>
                                                    <option value="<%= client.client.thestore%>"><%= client.client.thestore%></option>
                                                    <option disabled>--------------</option>
                                                  <option value="مغسلة سيارات">مغسلة سيارات</option>
                                                  <option value="تلميع سيارات وعازل حراري">تلميع سيارات وعازل حراري</option>
                                                  <option value="غسيل متنقل">غسيل متنقل</option>
                                                </select>
                                          </div>
                                          <div class="form-group">
                                            <label for="Phone"> تاريخ انتهاء السجل التجاري</label>
                                            <input type="date"  style="text-align: right" name="CommercialRegister" class="form-control" id="CommercialRegister" 
                                              placeholder=" تاريخ انتهاء السجل التجاري" value="<%= client.client.commercialregister%>">
                                          </div>
                                          <div class="form-group"  >
                                            <label for="Phone"> تاريخ انتهاء رخصة البلدية</label>
                                            <input type="date"  style="text-align: right" name="MunicipalLicense" class="form-control" id="MunicipalLicense" aria-describedby="MunicipalLicense"
                                              placeholder="تاريخ انتهاء رخصة البلدية" value="<%= client.client.municipallicense%>">
                                          </div>
                              
                                        <div class="form-group">
                                          <label for="Phone">رقم الجوال</label>
                                          <input type="number" name="Phone" class="form-control" id="Phone" aria-describedby="Phone"
                                            placeholder="رقم الجوال" value="<%= client.client.Phone %>"> 
                                        </div>
                              
                                         
                                        <!-- Modal -->
                                        <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                          <div class="modal-dialog" role="document">
                                            <div class="modal-content">
                                              <div class="modal-header">                                               
                                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                  <span aria-hidden="true">&times;</span>
                                                </button>
                                              </div>
                                              <div class="modal-body">
                                                <div class="form-group">
                                                  <label for="exampleInputPassword1">   كلمة المرور  </label>
                                                  <input type="password" name="Password" class="form-control" id="password" placeholder="كلمة المرور">
                                                  <small id="emailHelp" class="form-text text-muted">  الرجاء ادخال كلمة المرور لاتمام العملية</small>                                                
                                                </div> 
                                              </div>
                                              <div class="modal-footer">
                                                <button type="button" class="btn btn-secondary" data-dismiss="modal">الغاء </button>
                                                <button  type="submit" class="btn btn-primary">اكمال العملية</button>
                                              </div>
                                            </div>
                                          </div>
                                        </div>    
                                     </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-primary form-check-label " data-toggle="modal" data-target="#exampleModal">
                                        حديث الحساب
                                      </button>
                                  
                                  <button type="button" class="btn btn-default"  onclick="closer()" >الغاء</button>
                                </div>
                              </form>
                            </div>
                          </div>
                          <script type="text/javascript" src="//code.jquery.com/jquery-1.10.2.min.js"></script>





  


                          <div class="thumbnail"  >
                         <img src="http://localhost:3000/uploads/<%= client.client.ImageUrl %>"  width="300px" >
                          <form action="/PostPicter" method="post" enctype="multipart/form-data" style="padding-top: 10px;">
                            
                            <div class="file-upload" style=" padding-bottom: 10px">
                                <div class="file-select">
                                 
                                 
                                  <input type="file" name="Picter" id="chooseFile">
                                  <div class="file-select-name" id="noFile">لا توجد اي صورة...</div>
                                  <div class="file-select-button" id="fileName">أختر صورة لمحلك</div>

                                </div>
                              </div>

                              <button type="submit" class="btn btn-success"> ارسال </button>

                            </form>
                        

                        </div>
                              </div>
                            </div>


                            <div class="thumbnail" dir="ltr" >
                                <h5 style="text-align: center; font-family: 'Cairo', sans-serif;">معلومات تواجد المحل</h5>
                               
                                  <div class="caption" style="text-align: right;" >
                                     
    
                                     <div id="InfoStore"> 
                                    <div class="card-profil"  > 
                                        <div class="thumbnail">  
                                            <div class="thumbnail">
                                                <h5 dir="rtl" style=" font-family: 'Cairo', sans-serif;">  المنطقة:
                                                    <% if (client.client.zone != null) {  %>
                                                      <%= client.client.zone.Zone %>
                                                      <% } else { %>
                                                        <span style="color: red">  تم حذف المنطقة من طرف الادارة</span>
                                                      <% } %> 
                                                  </h5>
                                             </div>
                                             <div class="thumbnail">
                                              <h5 dir="rtl" style=" font-family: 'Cairo', sans-serif;">  المدينة:
                                                  <% if (client.client.country != null) {  %>
                                                    <%= client.client.country.Country %>
                                                    <% } else { %>
                                                     <span style="color: red">  تم حذف المدينة من طرف الادارة</span>
                                                     <% } %>

                                                </h5>
                                           </div>
                                               <div class="thumbnail">
                                                  <h5 dir="rtl" style=" font-family: 'Cairo', sans-serif;">  الحي:
                                                      <% if (client.client.city != null) {  %>
                                                        <%= client.client.city.City %>
                                                        <% } else { %>
                                                        <span style="color: red"> تم حذف الحي من طرف الادارة  </span>
                                                         <% } %> 
                                                   
                                                    </h5>
                                               </div>
                                               <div class="thumbnail">
                                                  <h5 dir="rtl" style=" font-family: 'Cairo', sans-serif;"> العنوان :
                                                     <%= client.client.Address %></h5>
                                               </div>
            
            
                                    <button type="button" class="btn btn-warning btn-lg"   onclick="changeInfoStore()"  >تعديل </button>
                                  </div> 
                                </div>
                                  </div>
                                  <div id="closeSotre" style="display: none"> 
                                      <div class="card-profil"  > 
                                          <form method="post" action="/store-update">
                                            <div  style="  direction: rtl;">
                                               

                                          
                                                    <div class="form-group">
                                                      <label for="exampleInputEmail1">البلد</label>
                                                      <input type="text"   class="form-control"  aria-describedby="Country"
                                                        placeholder="السعودية" disabled>
                                                    </div>
                                          
                                                    <div class="form-group">
                                                     <label for="exampleFormControlSelect1">المنطقة</label>
                                                     <div id="ZoneIsExist"> 
                                                        <select name="Zone" id="Zone" class="form-control" >
                                                        <% zone.forEach(function(zone) { %>
                                                          <option value="<%= zone._id %>" ><%= zone.Zone %></option>
                                                          <% }) %>
                                                        
                                                        </select>  
                                                      </div>  
                                                      <div id="ZoneIsNotExist" style="display: none"> 
                                                          <input type="text" name="newZone" class="form-control" id="Zone" aria-describedby="Zone"
                                                          placeholder="المنطقة" >  
                                                        </div> 
                                                        <div id="checkboxZone"> 
                                                        <small id="emailHelp" class="form-text text-muted"  >
                                                        <input type="checkbox" name="valuecheckboxzone" id="valuecheckboxzone" onclick="clickzone()" > لا اجد منطقتي في القائمة </small>
                                                      </div>
                                                      </div>
                                                   
                                                    <div class="form-group">
                                                        <label for="exampleFormControlSelect1">المدينة</label>
                                                        <div id="CountryIsExist"> 
                                                          <select class="form-control" id="getCountry" name="Country">
                                                              <% if (client.client.country != null) {  %> 
                                                              <option value ="<%= client.client.country._id%>" >  <%=  client.client.country.Country  %> </option>
                                                              <% } %>
                                                          </select>
                                                        </div>
                                                        <div id="CountryIsNotExist" style="display: none"> 
                                                            <input type="text" name="newCountry" class="form-control" id="Country" aria-describedby="Country"
                                                          placeholder="المدينة" > 
                                                        </div>
                                                       <div id="checkCounty"> 
                                                          <small id="emailHelp" class="form-text text-muted"  >
                                                          <input type="checkbox" name="valuecheckboxcountry" id="valuecheckboxcountry" onclick="clickCountry()" > لا اجد مدينتي في القائمة
                                                        </small>
                                                      </div>
                                                        </div>
                                                    
                                          
                                                      <div class="form-group">
                                                        
                                                          <label for="exampleFormControlSelect1">الحي</label>
                                                          <div id="CityIsExist">
                                                          <select name="City" class="form-control" id="getCity">
                                                              <% if (client.client.city != null) {  %> 
                                                              <option value ="<%= client.client.city._id%>" >  <%=  client.client.city.City  %> </option>
                                                              <% } %>
                                                          </select>
                                                        </div>
                                          
                                                        <div id="CityIsNotExist" style="display: none"> 
                                                            <input type="text" name="newCity" class="form-control" id="City" aria-describedby="City"
                                                            placeholder="الحي" > 
                                                        </div>
                                                        <div id="checboxCity">
                                                          <small id="emailHelp" class="form-text text-muted"  >
                                                          <input type="checkbox" name="valuecheckboxcity" id="valuecheckboxcity" onclick="clickCity()" > لا اجد حيي في القائمة</small>
                                                        </div>
                                                      </div>
                                                   
                                          
                                                    <div class="form-group">
                                                        <label for="Address">العنوان</label>
                                                        <input type="text" name="Address" class="form-control" id="Address" aria-describedby="Address"
                                                          placeholder="العنوان" value="<%= client.client.Address%>" required>
                                                      </div>
                                          
                                                     
                                                    <!-- Modal -->
                                                    <div class="modal fade" id="exampleModalinfo" tabindex="-1" role="dialog" aria-labelledby="exampleModalinfoLabel" aria-hidden="true">
                                                      <div class="modal-dialog" role="document">
                                                        <div class="modal-content">
                                                          <div class="modal-header">                                               
                                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                              <span aria-hidden="true">&times;</span>
                                                            </button>
                                                          </div>
                                                          <div class="modal-body">
                                                            <div class="form-group">
                                                              <label for="exampleInputPassword1">   كلمة المرور  </label>
                                                              <input type="password" name="Password" class="form-control" id="password" placeholder="كلمة المرور">
                                                              <small id="emailHelp" class="form-text text-muted">  الرجاء ادخال كلمة المرور لاتمام العملية</small>                                                
                                                            </div> 
                                                          </div>
                                                          <div class="modal-footer">
                                                            <button type="button" class="btn btn-secondary" data-dismiss="modal">الغاء </button>
                                                            <button  type="submit" class="btn btn-primary">اكمال العملية</button>
                                                          </div>
                                                        </div>
                                                      </div>
                                                    </div>    
                                                 </div>
                                            <div class="modal-footer">
                                                <button type="button" class="btn btn-primary form-check-label " data-toggle="modal" data-target="#exampleModalinfo">
                                                    حديث الحساب
                                                  </button>
                                              
                                              <button type="button" class="btn btn-default"  onclick="closerStore()" >الغاء</button>
                                            </div>
                                          </form>
                                </div>
                              </div>
                                  </div>
                                </div>



                     
                      </div><!-- /.box-body -->
                    </div><!-- /.box -->
            
                  </div>        
                        
          
                  <div class="col-md-6">
                      <div class="box box-success">
                          <div class="box-header">
                              <h5   style="text-align: center; font-family: 'Cairo', sans-serif;">موققي علي الخريطة</h5>
                          </div>
                          <div class="box-body chart-responsive">
                            
                              
                                    
                                  <div class="caption" style="text-align: right;" >
                                      <div class="alert" style="background-color: #D2ECF1; color: #246673;text-align: right" role="alert" >
                                         <p style="font-size: 20px">ملاحظة</p>
                                         <p>في حالة تريد تغيير موقعك على الخريطة قم فقط بتحديد موقعك الجديد ثم انقر علي تحديث موقع المحل</p>
                                       </div>
                                       <div style="position: relative"> 
                                              
                                        <button class="btn btn-primary btn-lg"  style="position: absolute; right: 0"  id="beforeupdate" disabled> تحديث موقع المحل  </button>
                                        <button class="btn btn-primary btn-lg" style="position: absolute; right: 0" data-toggle="modal" data-target="#d" id="updateposition">  تحديث موقع المحل    </button>
                                      </div>
                                    
                                       <form action="/update-position" method="post">
                                        <div class="form-group mx-sm-3 mb-2">
                                            <label for="inputPassword2" class="sr-only">خط العرض</label>
                                            <input type="text" name="PositionLatitude"  class="form-control" id="numberLat" placeholder="خط العرض"
                                               style="display: none" required>
                                          </div>
                                          <div class="form-group mx-sm-3 mb-2">
                                            <label for="inputPassword2" class="sr-only">خط الطول</label>
                                            <input type="text" name="PositionLongitude"  class="form-control" id="numberLng" placeholder="خط الطول"
                                            style="display: none" required>
                                          </div>
                                         
                                         
                                         
                                          <div class="modal fade" id="d" tabindex="-1" role="dialog" aria-labelledby="dLabel" aria-hidden="true">
                                            <div class="modal-dialog" role="document">
                                              <div class="modal-content">
                                                <div class="modal-header">                                               
                                                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                    <span aria-hidden="true">&times;</span>
                                                  </button>
                                                </div>
                                                <div class="modal-body">
                                                  <div class="form-group">
                                                    <label for="exampleInputPassword1">   كلمة المرور  </label>
                                                    <input type="password" name="Password" class="form-control" id="password" placeholder="كلمة المرور">
                                                    <small id="emailHelp" class="form-text text-muted">  الرجاء ادخال كلمة المرور لاتمام العملية</small>                                                
                                                  </div> 
                                                </div>
                                                <div class="modal-footer">
                                                  <button type="button" class="btn btn-secondary" data-dismiss="modal">الغاء </button>
                                                  <button  type="submit" class="btn btn-primary">اكمال العملية</button>
                                                </div>
                                              </div>
                                            </div>
                                          </div>  
                
                                        </form>  

                                          <div id="map" style="height: 610px; margin-top: 80px" class="mymaps"></div>
                                      </div>
                          </div><!-- /.box-body -->
                        </div><!-- /.box -->
                     
                      <!-- BAR CHART -->
                   
        
                    </div>
                              
                   
          
                  </div>
        </section>
          
        </div>
    </div><!-- /.content-wrapper -->
    <footer class="main-footer">
      <div   style="text-align: center">
          <strong>Copyright &copy; 2019 <a href="http://almsaeedstudio.com">HOCINE ISMAIL</a>.</strong> All rights reserved.
      </div>
     
    </footer >
    
  </div><!-- ./wrapper -->
 
        <script>
          function initAutocomplete() {
            var map = new google.maps.Map(document.getElementById('map'), {
              center: { lat: 24.697090, lng: 46.684124 },
              zoom: 13,
              
              mapTypeId: 'roadmap'
            });
            var PositionLatitude = <%= client.client.location.PositionLatitude %>
            var PositionLongitude = <%= client.client.location.PositionLongitude %>
            var contentString =  '<h3 class="tit">موقع محلك المسجل  </h3>' ;
              var infowindow = new google.maps.InfoWindow({
                content: contentString
              });


              var LatLng = { lat: PositionLatitude, lng: PositionLongitude };
              var marker = new google.maps.Marker({
                position: LatLng,
                map: map,
              });

        google.maps.event.addListener(marker, 'click', (function (marker, infowindow) {
           return function () {
        
            infowindow.open(map, marker);
          };
        })(marker, infowindow));


            // Create the search box and link it to the UI element(the input).
            var input = document.getElementById('pac-input');
            var searchBox = new google.maps.places.SearchBox(input);
            map.controls[google.maps.ControlPosition.TOP_LEFT].push(input);

            // Bias the SearchBox results towards current map's viewport.
            map.addListener('bounds_changed', function () {
              searchBox.setBounds(map.getBounds());
            });

            var markers = [];
            // Listen for the event fired when the user selects a prediction and retrieve
            // more details for that place.
            
            searchBox.addListener('places_changed', function () {
              var places = searchBox.getPlaces();

              if (places.length == 0) {
                return;
              }

              // Clear out the old markers.
              markers.forEach(function (marker) {
                marker.setMap(null);
              });
              markers = [];

              // For each place, get the icon, name and location.
              var bounds = new google.maps.LatLngBounds();
              places.forEach(function (place) {
                if (!place.geometry) {
                  console.log("Returned place contains no geometry");
                  return;
                }
                //set coordonates to inputs
                document.getElementById("numberLat").value = place.geometry.location.lat().toString();
                document.getElementById("numberLng").value = place.geometry.location.lng().toString();
                var icon = {
                  url: place.icon,
                  size: new google.maps.Size(71, 71),
                  origin: new google.maps.Point(0, 0),
                  anchor: new google.maps.Point(17, 34),
                  scaledSize: new google.maps.Size(25, 25)
                };

                // Create a marker for each place.
                markers.push(new google.maps.Marker({
                  map: map,
                  icon: icon,
                  title: place.name,
                  position: place.geometry.location,
                  draggable: false
                }));

                if (place.geometry.viewport) {
                  // Only geocodes have viewport.
                  bounds.union(place.geometry.viewport);
                } else {
                  bounds.extend(place.geometry.location);
                }
              });
              map.fitBounds(bounds);
            });
            google.maps.event.addListener(map, 'click', function (event) {
              // Clear out the old markers.
              markers.forEach(function (marker) {
                marker.setMap(null);
              });
              markers = [];
              document.getElementById("numberLat").value = event.latLng.lat().toString();
              document.getElementById("numberLng").value = event.latLng.lng().toString();
              document.getElementById("beforeupdate").style.display = "none";
              document.getElementById("updateposition").style.display = "block";
              markers.push(new google.maps.Marker({
                map: map,
                position: event.latLng,
                draggable: false
              }));
            });

            // geolocation.
            var infoWindow = new google.maps.InfoWindow;

            if (navigator.geolocation) {
              navigator.geolocation.getCurrentPosition(function (position) {
                var pos = {
                  lat: position.coords.latitude,
                  lng: position.coords.longitude
                };

                infoWindow.setPosition(pos);
                infoWindow.setContent('<h3 class="tit">موقعك الحالي حسب جهازك</h3>');
                infoWindow.open(map);
                map.setCenter(pos);
              },
                function () {
                  handleLocationError(true, infoWindow, map.getCenter());
                });
            } else {
              // Browser doesn't support Geolocation
              handleLocationError(false, infoWindow, map.getCenter());
            }
          }
          google.maps.event.addListener('click', function (e) {
      
                console.log("point")
        });
          function handleLocationError(browserHasGeolocation, infoWindow, pos) {
            infoWindow.setPosition(pos);
            infoWindow.setContent(browserHasGeolocation ?
              'Error: The Geolocation service failed.' :
              'Error: Your browser doesn\'t support geolocation.');
            infoWindow.open(map);
          }

        </script>

      </div>
    </div>
  </div>
  </div>


  <!--set Script here-->

  <script src="https://maps.googleapis.com/maps/api/js?key=&libraries=places&callback=initAutocomplete"
    asyncdefer></script>
<script>
    var clickzoneValue = false
    var clickcountry = false
    var clickcity = false 
    function clickzone() {
     
     if (clickzoneValue) {
       document.getElementById("ZoneIsExist").style.display = "block";
       document.getElementById("ZoneIsNotExist").style.display = "none";
       document.getElementById("CountryIsExist").style.display = "block";
       document.getElementById("CountryIsNotExist").style.display = "none";
       document.getElementById("CityIsExist").style.display = "block";
        document.getElementById("CityIsNotExist").style.display = "none";

        // display checkbox 
        document.getElementById("checkCounty").style.display = "block";
        document.getElementById("checboxCity").style.display = "block";

        document.getElementById("valuecheckboxcountry").checked = false;
        document.getElementById("valuecheckboxcity").checked = false;
       
        clickcountry = false
        clickzoneValue = false
        clickcity = false
     } else {
       document.getElementById("ZoneIsExist").style.display = "none";
       document.getElementById("ZoneIsNotExist").style.display = "block";
       document.getElementById("CountryIsExist").style.display = "none";
       document.getElementById("CountryIsNotExist").style.display = "block";
       document.getElementById("CityIsExist").style.display = "none";
        document.getElementById("CityIsNotExist").style.display = "block";

        //display checkboxe nopne
        document.getElementById("checkCounty").style.display = "none";
        document.getElementById("checboxCity").style.display = "none";

        document.getElementById("valuecheckboxcountry").checked = false;
        document.getElementById("valuecheckboxcity").checked = false;


        clickcountry = true
       clickzoneValue = true
       clickcity = true
     }
      
     }

     function clickCountry() {

     if (clickcountry) {
       document.getElementById("CountryIsExist").style.display = "block";
       document.getElementById("CountryIsNotExist").style.display = "none";
       document.getElementById("CityIsExist").style.display = "block";
        document.getElementById("CityIsNotExist").style.display = "none";
         // display checkbox 

        document.getElementById("checboxCity").style.display = "block";
        clickcountry = false
        clickcity = false
       document.getElementById("valuecheckboxcity").checked = false;
     } else {
        document.getElementById("CountryIsExist").style.display = "none";
        document.getElementById("CountryIsNotExist").style.display = "block";
        document.getElementById("CityIsExist").style.display = "none";
        document.getElementById("CityIsNotExist").style.display = "block";
             //display checkboxe nopne
       
        document.getElementById("checboxCity").style.display = "none";
        clickcountry = true
        clickcity = true
       
       document.getElementById("valuecheckboxcity").checked = false; }
      
     }



     function clickCity() {

      if (clickcity) {
        document.getElementById("CityIsExist").style.display = "block";
        document.getElementById("CityIsNotExist").style.display = "none";
        clickcity = false
      } else {
        document.getElementById("CityIsExist").style.display = "none";
        document.getElementById("CityIsNotExist").style.display = "block";
        clickcity = true
      }
      
      }



    function closer() {
      console.log("123213213")
  document.getElementById("update").style.display = "block";
  document.getElementById("close").style.display = "none";
}
function change() {
 
  document.getElementById("update").style.display = "none";
  document.getElementById("close").style.display = "block";
}

function changeInfoStore() {
  document.getElementById("InfoStore").style.display = "none";
  document.getElementById("closeSotre").style.display = "block";
}

function closerStore() {
  document.getElementById("InfoStore").style.display = "block";
  document.getElementById("closeSotre").style.display = "none";
}
</script>

 <script>
    $(function() {
        $("#Zone").on("click", function () {

          var html;        
        
        html = ''

      
         
           html += '<option >--------------</option>';
         
     
       html += ''
         $('#getCity').html(html);  
         $('#getCountry').html(html);  


         
          document.getElementById("CountryIsExist").style.display = "block";
       document.getElementById("CountryIsNotExist").style.display = "none";
       document.getElementById("CityIsExist").style.display = "block";
        document.getElementById("CityIsNotExist").style.display = "none";
         // display checkbox 

        document.getElementById("checboxCity").style.display = "block";
        clickcountry = false
        clickcity = false
        document.getElementById("valuecheckboxcountry").checked = false;
        document.getElementById("valuecheckboxcity").checked = false;
          console.log( $("#Zone").val());
          var Zone = $('#Zone').val();
          $.ajax({
            type: 'post',
            url: '/getCountry',
            dataType: "text",  
            contentType: "application/json; charset=utf-8",
            data: JSON.stringify({
              Zone: Zone
            }),
                   
              cache: false,
                timeout: 5000,
               
                success: function(res) {
                  
                  var resu = JSON.parse(res)
         var html;        
        
         html = ''
        
         for (var i = 0; i< resu.country.length; i++) {
          
            html += '<option value ="'+ resu.country[i]._id + '">' + resu.country[i].Country +  '</option>';
          
        }
        html += ''
         
         $('#getCountry').html(html);
       },
                error: function() {
                 
                  console.log('process error');
                },
          
          });
        });
      });

</script>
<script>
       // function get city

       $(function() {
        $("#getCountry").on("click", function () {
        
       document.getElementById("CountryIsExist").style.display = "block";
       document.getElementById("CountryIsNotExist").style.display = "none";
       document.getElementById("CityIsExist").style.display = "block";
        document.getElementById("CityIsNotExist").style.display = "none";
         // display checkbox 

        document.getElementById("checboxCity").style.display = "block";
     
        clickcity = false
 
        document.getElementById("valuecheckboxcity").checked = false;
          var Country = $('#getCountry').val();
          $.ajax({
            type: 'post',
            url: '/getCiy',
            dataType: "text",  
            contentType: "application/json; charset=utf-8",
            data: JSON.stringify({
              Country: Country
            }),
                   
              cache: false,
                timeout: 5000,
              
                success: function(res) {
                  
                  var resu = JSON.parse(res)
         var html;        
        
         html = ''

         for (var i = 0; i< resu.city.length; i++) {
          
            html += '<option value ="'+ resu.city[i]._id + '">' + resu.city[i].City +  '</option>';
          
        }
        html += ''
         
         $('#getCity').html(html);
       },
                error: function() {
                 
                  console.log('process error');
                },
          
          });
        });
      });
     
</script>

<script>
    $('#chooseFile').bind('change', function () {
  var filename = $("#chooseFile").val();
  if (/^\s*$/.test(filename)) {
    $(".file-upload").removeClass('active');
    $("#noFile").text("No file chosen..."); 
  }
  else {
    $(".file-upload").addClass('active');
    $("#noFile").text(filename.replace("C:\\fakepath\\", "")); 
  }
});

</script>
  <!-- jQuery 2.1.3 -->
  <% include _footer %>