<% include ../_header %>

<title>انشاء حساب جديد </title>
<link href="/css/signup.css" rel="stylesheet">
 <style>
 .border{
    border-bottom-left-radius: 50px 50px;
    border-bottom-right-radius: 50px 50px;
    border-top-left-radius: 50px 50px;
    border-top-right-radius: 50px 50px;
}
.border-global{
    border-bottom-left-radius: 10px 10px;
    border-bottom-right-radius: 10px 10px;
    border-top-left-radius: 10px 10px;
    border-top-right-radius: 10px 10px;
}</style>
</head>

<body>
    <div id="mySidenav" class="sidenav" dir="rtl">
        <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
        <a href="/">الصفحة الرئيسية</a>
        <a href="/search">بحث</a>
        <a href="/login">تسجبل الدخول</a>
        <a href="#/signup">انشاء حساب جديد </a>
      </div>
    
      <ul class="nav-bar">
          <div class="container">
        <li class="nav-item logo"><h2 id="logo">Wash Polish Car</h2></li>
        <li class="nav-item"><a class="active" href="/">الصفحة الرئيسية</a></li>
        <li class="nav-item"><a href="/search">  <i class="fas fa-search"></i> </a></li>
            <div class="botton-nav"> 
                <li class="nav-item"><a href="/login"  id="signin">تسجبل الدخول</a></li>
                <li class="nav-item"><a href="/signup" class="bnt" id="signup"> انشاء حساب جديد</a></li>
           </div>
          </div> 
          
        <li  class="screen-mobile nav-item" style="float: right; margin-right: -40px" ><a href="#"  style="float: right"  onclick="openNav()">&#9776; </a></li>
        <li  class="nav-item logo screen-mobile"   ><h2 id="logo">Wash Polish Car</h2></li>
        <li class="nav-item logo screen-mobile"  style="float: left">
          <a href="javascript:history.back()"><i class="fas fa-arrow-left"></i></a>
    
        </li>
     <% var IsExist = false  %>

      </ul>
  <div class="container">
      <h3 style=" text-align: center; padding-top: 20px"> انشاء الحساب </h3>
      <form id="regForm" class="border-global"style="padding-top: 30px" method="post" action="/signup">
        <% errors.forEach(function(error) { %>
          <div class=" alert alert-danger" style="text-align: center" role="alert" >
          <%= error %>
          <% IsExist = true %>
          </div>
          <!-- One "tab" for each step in the form: -->
         اسم المحل
         <p><input  placeholder="اسم المحل " type="text"  class="form-control border" oninput="this.className = 'form-control border'" name="username" required></p>
         اسم مدير المحل
         <p><input   placeholder="اسم مدير المحل" type="text" class="form-control border" oninput="this.className = 'form-control border'" name="Fullname" required></p>
         رقم جوال مدير المحل
         <p><input   placeholder="رقم جوال مدير المحل" type="number" class="form-control border" oninput="this.className = 'form-control border'" name="Phone" required></p>
         البريد الإلكتروني
         <p><input   placeholder="البريد الإلكتروني" type="email" class="form-control border" oninput="this.className = 'form-control border'" name="email" required></p>
      
           <label>نوع المحل</label>
             <select class="form-control border" name="store" required>
                
               <option value="مغسلة سيارات">مغسلة سيارات</option>
               <option value="تلميع سيارات وعازل حراري">تلميع سيارات وعازل حراري</option>
               <option value="غسيل متنقل">غسيل متنقل</option>
             </select>
             تاريخ انتهاء السجل التجاري
             <p><input placeholder="تاريخ انتهاء السجل التجاري" value="2000-01-01" style="text-align: right" type="date" class="form-control border" oninput="this.className = 'form-control border'" name="CommercialRegister"></p>
             تاريخ انتهاء رخصة البلدية
             <p><input placeholder="تاريخ انتهاء رخصة البلدية" value="2000-01-01" style="text-align: right" type="date" class="form-control border" oninput="this.className = 'form-control'" name="MunicipalLicense"></p>
       

           <label for="exampleFormControlSelect1">المنطقة</label>
           <div id="ZoneIsExist"> 
              <select name="Zone" id="Zone" class="form-control border" required>
                
              <% zone.forEach(function(zone) { %>
                <option value="<%= zone._id %>" ><%= zone.Zone %></option>
                <% }) %>
              
              </select>  
            </div> 
            
            <label for="exampleFormControlSelect1">المدينة</label>
            <div id="CountryIsExist"> 
              <select class="form-control border " id="getCountry" name="Country" required>
                
              </select>
            </div>

            
             <div >  الحي
                 <input type="text" name="City" placeholder="ادخل الحي" class="form-control border" id="City" 
                 required > 
             </div>
           
             <div > 
                 العنوان
                 <p><input type="text" name="Address" type="text" class="form-control border" oninput="this.className = 'form-control border'"
                   placeholder="العنوان" required></p>
           



           </div>

     
           <label>ادخل موقع المحل بنقر على  الخريطة</label>
           <input id="pac-input" value="بحث" class="controls " style="font-family: 'Cairo', sans-serif;" type="text" placeholder="بحث">
           <div id="map"  onclick="getlocation()" style=" box-shadow: 0px 0px 5px #555;"></div>
           <div class="form-group mx-sm-3 mb-2">
               <label for="inputPassword2" class="sr-only">خط العرض</label>
               <input type="text" name="PositionLatitude"  class="form-control border" id="numberLat" placeholder="خط العرض"
                  style="display: none" required>
             </div>
             <div class="form-group mx-sm-3 mb-2">
               <label for="inputPassword2" class="sr-only">خط الطول</label>
               <input type="text" name="PositionLongitude"  class="form-control border" id="numberLng" placeholder="خط الطول"
               style="display: none" required>
             </div>
              
               
           <div class="form-group">
           <label for="exampleInputPassword1">كلمد المرور</label>
           <input type="password" name="Password" class="form-control border" id="password" placeholder="كلمة المرور" required>
         </div>

         <div class="form-group">
           <input class="form-control border" style="text-align: right" type="password" placeholder="اعادة كتابة كلمة المرور"
             id="confirm_password" required>
            
         </div>

       <div style="overflow:auto;position: relative">
         <div style="float:right;">
          
             
           
           <button   class="btn btn-primary border" style="width: 150px;font-family: 'Cairo', sans-serif;"    type="submit">تسجيل الحساب</button>
          
         </div>
       </div>
       </div>

     </div>
          <% }) %>
          <% infos.forEach(function(info) { %>
          <div class=" alert alert-info"  style="text-align: center" role="alert" >
          <%= info %>
          </div>
          <% }) %>
          <% success.forEach(function(success) { %>
            <div class=" alert alert-success"  style="text-align: center" role="alert" >
            <%= success %>
            </div>
            <% }) %>
        <% if (error.length > 0 && IsExist === false ) { %>
          <div class="col-md-12">
              <div class=" alert alert-danger" role="alert" >
                 
                    
                      <li><%= error %></li>
                    </div>
                 
 <!-- One "tab" for each step in the form: -->
 اسم المحل
 <p><input  placeholder="اسم المحل " type="text"  class="form-control border" oninput="this.className = 'form-control border'" name="username" required></p>
 اسم مدير المحل
 <p><input   placeholder="اسم مدير المحل" type="text" class="form-control border" oninput="this.className = 'form-control border'" name="Fullname" required></p>
 رقم جوال مدير المحل
 <p><input   placeholder="رقم جوال مدير المحل" type="number" class="form-control border" oninput="this.className = 'form-control border'" name="Phone" required></p>
 البريد الإلكتروني
 <p><input   placeholder="البريد الإلكتروني" type="email" class="form-control border" oninput="this.className = 'form-control border'" name="email" required></p>

   <label>نوع المحل</label>
     <select class="form-control border" name="store" required>
        
       <option value="مغسلة سيارات">مغسلة سيارات</option>
       <option value="تلميع سيارات وعازل حراري">تلميع سيارات وعازل حراري</option>
       <option value="غسيل متنقل">غسيل متنقل</option>
     </select>
     تاريخ انتهاء السجل التجاري
     <p><input placeholder="تاريخ انتهاء السجل التجاري" value="2000-01-01" style="text-align: right" type="date" class="form-control border" oninput="this.className = 'form-control border'" name="CommercialRegister"></p>
     تاريخ انتهاء رخصة البلدية
     <p><input placeholder="تاريخ انتهاء رخصة البلدية" value="2000-01-01" style="text-align: right" type="date" class="form-control border" oninput="this.className = 'form-control'" name="MunicipalLicense"></p>


   <label for="exampleFormControlSelect1">المنطقة</label>
   <div id="ZoneIsExist"> 
      <select name="Zone" id="Zone" class="form-control border" required>
        
      <% zone.forEach(function(zone) { %>
        <option value="<%= zone._id %>" ><%= zone.Zone %></option>
        <% }) %>
      
      </select>  
    </div> 
    
    <label for="exampleFormControlSelect1">المدينة</label>
    <div id="CountryIsExist"> 
      <select class="form-control border " id="getCountry" name="Country" required>
        
      </select>
    </div>

    
     <div >  الحي
         <input type="text" name="City" placeholder="ادخل الحي" class="form-control border" id="City" 
         required > 
     </div>
   
     <div > 
         العنوان
         <p><input type="text" name="Address" type="text" class="form-control border" oninput="this.className = 'form-control border'"
           placeholder="العنوان" required></p>
   



   </div>


   <label>ادخل موقع المحل بنقر على  الخريطة</label>
   <input id="pac-input" value="بحث" class="controls " style="font-family: 'Cairo', sans-serif;" type="text" placeholder="بحث">
   <div id="map"  onclick="getlocation()" style=" box-shadow: 0px 0px 5px #555;"></div>
   <div class="form-group mx-sm-3 mb-2">
       <label for="inputPassword2" class="sr-only">خط العرض</label>
       <input type="text" name="PositionLatitude"  class="form-control border" id="numberLat" placeholder="خط العرض"
          style="display: none" required>
     </div>
     <div class="form-group mx-sm-3 mb-2">
       <label for="inputPassword2" class="sr-only">خط الطول</label>
       <input type="text" name="PositionLongitude"  class="form-control border" id="numberLng" placeholder="خط الطول"
       style="display: none" required>
     </div>
      
       
   <div class="form-group">
   <label for="exampleInputPassword1">كلمد المرور</label>
   <input type="password" name="Password" class="form-control border" id="password" placeholder="كلمة المرور" required>
 </div>

 <div class="form-group">
   <input class="form-control border" style="text-align: right" type="password" placeholder="اعادة كتابة كلمة المرور"
     id="confirm_password" required>
    
 </div>

<div style="overflow:auto;position: relative">
 <div style="float:right;">
  
     
   
   <button   class="btn btn-primary border" style="width: 150px;font-family: 'Cairo', sans-serif;"    type="submit">تسجيل الحساب</button>
  
 </div>
</div>
</div>

</div>
          <% } else {  %>
         <% if ( IsExist === false) {%>
        <!-- One "tab" for each step in the form: -->
         اسم المحل
          <p><input  placeholder="اسم المحل " type="text"  class="form-control border" oninput="this.className = 'form-control border'" name="username" required></p>
          اسم مدير المحل
          <p><input   placeholder="اسم مدير المحل" type="text" class="form-control border" oninput="this.className = 'form-control border'" name="Fullname" required></p>
          رقم جوال مدير المحل
          <p><input   placeholder="رقم جوال مدير المحل" type="number" class="form-control border" oninput="this.className = 'form-control border'" name="Phone" required></p>
          البريد الإلكتروني
          <p><input   placeholder="البريد الإلكتروني" type="email" class="form-control border" oninput="this.className = 'form-control border'" name="email" required></p>
       
            <label>نوع المحل</label>
              <select class="form-control border" name="store" required>
                 
                <option value="مغسلة سيارات">مغسلة سيارات</option>
                <option value="تلميع سيارات وعازل حراري">تلميع سيارات وعازل حراري</option>
                <option value="غسيل متنقل">غسيل متنقل</option>
              </select>
              تاريخ انتهاء السجل التجاري
              <p><input placeholder="تاريخ انتهاء السجل التجاري" value="2000-01-01" style="text-align: right" type="date" class="form-control border" oninput="this.className = 'form-control border'" name="CommercialRegister"></p>
              تاريخ انتهاء رخصة البلدية
              <p><input placeholder="تاريخ انتهاء رخصة البلدية" value="2000-01-01" style="text-align: right" type="date" class="form-control border" oninput="this.className = 'form-control'" name="MunicipalLicense"></p>
        

            <label for="exampleFormControlSelect1">المنطقة</label>
            <div id="ZoneIsExist"> 
               <select name="Zone" id="Zone" class="form-control border" required>
                 
               <% zone.forEach(function(zone) { %>
                 <option value="<%= zone._id %>" ><%= zone.Zone %></option>
                 <% }) %>
               
               </select>  
             </div> 
             
             <label for="exampleFormControlSelect1">المدينة</label>
             <div id="CountryIsExist"> 
               <select class="form-control border " id="getCountry" name="Country" required>
                 
               </select>
             </div>

             
              <div >  الحي
                  <input type="text" name="City" placeholder="ادخل الحي" class="form-control border" id="City" 
                  required > 
              </div>
            
              <div > 
                  العنوان
                  <p><input type="text" name="Address" type="text" class="form-control border" oninput="this.className = 'form-control border'"
                    placeholder="العنوان" required></p>
            



            </div>

      
            <label>ادخل موقع المحل بنقر على  الخريطة</label>
            <input id="pac-input" value="بحث" class="controls " style="font-family: 'Cairo', sans-serif;" type="text" placeholder="بحث">
            <div id="map"  onclick="getlocation()" style=" box-shadow: 0px 0px 5px #555;"></div>
            <div class="form-group mx-sm-3 mb-2">
                <label for="inputPassword2" class="sr-only">خط العرض</label>
                <input type="text" name="PositionLatitude"  class="form-control border" id="numberLat" placeholder="خط العرض"
                   style="display: none" required>
              </div>
              <div class="form-group mx-sm-3 mb-2">
                <label for="inputPassword2" class="sr-only">خط الطول</label>
                <input type="text" name="PositionLongitude"  class="form-control border" id="numberLng" placeholder="خط الطول"
                style="display: none" required>
              </div>
               
                
            <div class="form-group">
            <label for="exampleInputPassword1">كلمد المرور</label>
            <input type="password" name="Password" class="form-control border" id="password" placeholder="كلمة المرور" required>
          </div>

          <div class="form-group">
            <input class="form-control border" style="text-align: right" type="password" placeholder="اعادة كتابة كلمة المرور"
              id="confirm_password" required>
             
          </div>

        <div style="overflow:auto;position: relative">
          <div style="float:right;">
           
              
            
            <button   class="btn btn-primary border" style="width: 150px;font-family: 'Cairo', sans-serif;"    type="submit">تسجيل الحساب</button>
           
          </div>
        </div>
        </div>

      </div>
        <!-- Circles which indicates the steps of the form: -->
        <% } %>
        <% } %>
      </form>
      
   
   
 
  </div>
  
  <!--set Script here-->
 <script>
          function initAutocomplete() {
            var map = new google.maps.Map(document.getElementById('map'), {
              center: { lat: 24.697090, lng: 46.684124 },
              zoom: 13,
              mapTypeId: 'roadmap'
            });
            
            // Create the search box and link it to the UI element(the input).
            var input = document.getElementById('pac-input');
            var searchBox = new google.maps.places.SearchBox(input);
            map.controls[google.maps.ControlPosition.TOP_LEFT].push(input);

            // Bias the SearchBox results towards current map's viewport.
            map.addListener('bounds_changed', function () {
              searchBox.setBounds(map.getBounds());
            });

            var markers = [];
            // Listen for the event fired when the user selects a prediction and retrieve
            // more details for that place.
            
            searchBox.addListener('places_changed', function () {
              var places = searchBox.getPlaces();

              if (places.length == 0) {
                return;
              }

              // Clear out the old markers.
              markers.forEach(function (marker) {
                marker.setMap(null);
              });
              markers = [];

              // For each place, get the icon, name and location.
              var bounds = new google.maps.LatLngBounds();
              places.forEach(function (place) {
                if (!place.geometry) {
                  console.log("Returned place contains no geometry");
                  return;
                }
                //set coordonates to inputs
                document.getElementById("numberLat").value = place.geometry.location.lat().toString();
                document.getElementById("numberLng").value = place.geometry.location.lng().toString();
                var icon = {
                  url: place.icon,
                  size: new google.maps.Size(71, 71),
                  origin: new google.maps.Point(0, 0),
                  anchor: new google.maps.Point(17, 34),
                  scaledSize: new google.maps.Size(25, 25)
                };

                // Create a marker for each place.
                markers.push(new google.maps.Marker({
                  map: map,
                  icon: icon,
                  title: place.name,
                  position: place.geometry.location,
                  draggable: false
                }));

                if (place.geometry.viewport) {
                  // Only geocodes have viewport.
                  bounds.union(place.geometry.viewport);
                } else {
                  bounds.extend(place.geometry.location);
                }
              });
              map.fitBounds(bounds);
            });
            google.maps.event.addListener(map, 'click', function (event) {
              
   
              // Clear out the old markers.
              markers.forEach(function (marker) {
                marker.setMap(null);
              });
              markers = [];
              document.getElementById("numberLat").value = event.latLng.lat().toString();
              document.getElementById("numberLng").value = event.latLng.lng().toString();
           
            
  
              markers.push(new google.maps.Marker({
                map: map,
                position: event.latLng,
                draggable: false
              }));
            });

            // geolocation.
            var infoWindow = new google.maps.InfoWindow;

            if (navigator.geolocation) {
              navigator.geolocation.getCurrentPosition(function (position) {
                var pos = {
                  lat: position.coords.latitude,
                  lng: position.coords.longitude
                };

                infoWindow.setPosition(pos);
                infoWindow.setContent('<h5 class="text-map">موقعك</h5>');
                infoWindow.open(map);
                map.setCenter(pos);
              },
                function () {
                  handleLocationError(true, infoWindow, map.getCenter());
                });
            } else {
              // Browser doesn't support Geolocation
              handleLocationError(false, infoWindow, map.getCenter());
            }
          }
          google.maps.event.addListener('click', function (e) {
      
                console.log("point")
        });
          function handleLocationError(browserHasGeolocation, infoWindow, pos) {
            infoWindow.setPosition(pos);
            infoWindow.setContent(browserHasGeolocation ?
              'Error: The Geolocation service failed.' :
              'Error: Your browser doesn\'t support geolocation.');
            infoWindow.open(map);
          }

</script>
         
<script src="https://maps.googleapis.com/maps/api/js?key=&libraries=places&callback=initAutocomplete"
asyncdefer></script>

<script src="/js/signup.js" type="text/javascript"></script>
<% include ../_footer %>